@import '../../constants/styles/prefix';
@import '../../constants/styles/variable';

.app__navbar {
    width: 100%;
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(center);
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, .25);
    @include backdrop-filter(blur(4px));
    border: 1px solid rgba(255, 255, 255, .18);
    position: fixed;
    z-index: 2;

    &-logo {
        @include display-flex();
        @include justify-content(flex-start);
        @include align-items(center);

        img {
            width: 99px;
            height: 20px;

            @media screen and (min-width: 2000px) {
                width: 180px;
                height: 40px;
            }
        }
    }

    &-links {
        @include flex(1);
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);
        list-style-type: none;

        li {
            margin: 0 1rem;
            cursor: pointer;
            @include flex-direction(column);

            div {
                width: 5px;
                height: 5px;
                background: transparent;
                @include border-radius(50%);
                margin-bottom: 5px;
            }

            &:hover {
                div {
                    background: $secondary-color;
                }
            }

            a {
                color: $gray-color;
                text-decoration: none;
                @include flex-direction(column);
                text-transform: uppercase;
                font-weight: 500;
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    &-small {
        width: 35px;
        height: 35px;
        @include border-radius(50%);
        position: relative;
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);
        background: $secondary-color;

        svg {
            width: 70%;
            height: 70%;
            color: $white-color;
        }
    }
}