@import '../../constants/styles/prefix';
@import '../../constants/styles/mixin';
@import '../../constants/styles/variable';

.app__navigation {
    @include display-flex($placement:center, $direction:column);
    padding: 1rem;
    position: fixed;
    right: 0;
    @include center-y-absolute();

    @include media-break($break-d-sm-p-50) {
        display: none;
    }

    &-dot {
        @include size(10px);
        @include border-radius(50%);
        background-color: #37474f;
        margin: 0.4rem;
        @include transition(background-color 0.2s ease-in-out);
        position: relative;
        text-decoration: none;

        &:hover {
            background-color: $white-color;
        }

        &:active {
            background-color: #37474f;
        }

        @include media-break($break-d-xl, min) {
            @include size(20px);
        }

        p {
            text-transform: uppercase;
            position: absolute;

            &:nth-child(1) {
                display: block;
                background: none;
                padding: 0;
                top: 50%;
                left: 50%;
                right: 0;
                @include transform(translate(-50%, -50%));
                font-size: 0.7rem;
                color: white;
                font-family: monospace;
            }

            &:nth-child(2) {
                background: white;
                padding: 5px 10px;
                top: -7px;
                right: 25px;
                font-size: .8rem;
                color: #37474f;
                border: 1px solid $lightGray-color;
                @include border-radius(3px);
                display: none;

            }
        }

        &:hover {
            p {
                &:nth-child(2) {
                    display: block;
                }

                &:nth-child(1) {
                    display: none;
                }
            }
        }
    }
}