@use "sass:map";
@import './prefix';

@mixin size($width-param, $height-param:0) {
  width: $width-param;

  @if $height-param !=0 {
    height: $height-param;
  }

  @else {
    height: $width-param;
  }
}

@mixin flex-center() {
  @include display-flex-init();
  @include justify-content(center);
  @include align-items(center);
}

@mixin flex-start() {
  @include display-flex();
  @include justify-content(flex-start);
  @include align-items(flex-start);
}

@mixin flex-end() {
  @include display-flex();
  @include justify-content(flex-end);
  @include align-items(flex-end);
}


@mixin display-flex($flex:0, $display:true, $justify-content:0, $align-items:0, $align-content:0, $placement:0, $direction:0, $wrap:0) {
  @if $flex !=0 {
    @include flex($flex);
  }

  @if $display==true {
    @include display-flex-init();
  }

  @if $justify-content !=0 {
    @include justify-content($justify-content);
  }
  
  @if $align-items !=0 {
    @include align-items($align-items);
  }

  @if $align-content !=0 {
    @include align-content($align-content);
  }

  @if $placement==start {
    @include justify-content(flex-start);
    @include align-items(flex-start);
  }

  @else if $placement==end {
    @include justify-content(flex-end);
    @include align-items(flex-end);
  }

  @else if $placement==center {
    @include justify-content(center);
    @include align-items(center);
  }

  @if $direction !=0 {
    @include flex-direction($direction);
  }

  @if $wrap !=0 {
    @include flex-wrap($wrap);
  }
}

@mixin pos-abs($top:false, $right:false, $bottom:false, $h:false, $v:false, $all:false, $left:false, $abs:true) {
  @if $abs==true {
    position: absolute;
  }

  @if $top !=false {
    top: $top;
  }

  @if $right !=false {
    right: $right;
  }

  @if $bottom !=false {
    bottom: $bottom;
  }

  @if $left !=false {
    left: $left;
  }

  @if $h !=false {
    left: $h;
    right: $h;
  }

  @if $v !=false {
    top: $v;
    bottom: $v;
  }

  @if $all !=false {
    top: $all;
    right: $all;
    bottom: $all;
    left: $all;
  }
}

@mixin space-reset() {
  margin: 0;
  padding: 0;
}

@mixin media-break ($break-point, $device-type: max, $break-type: width, $media-type: screen) {
  $break-logic: $device-type+'-'+$break-type;

  @media #{$media-type} and (#{$break-logic}: $break-point) {
    @content;
  }
}