$font-base: ('DM Sans', sans-serif);
$primary-color: #edf2f8;
$secondary-color: #313bac;
$black-color: #030303;
$lightGray-color: #e4e4e4;
$gray-color: #6b7688;
$brown-color: #46364a;
$white-color: #ffffff;
$break-nav-sm: 900px;
$break-d-sm: 450px;
$break-d-sm-p-50: 500px;
$break-d-lg: 1200px;
$break-d-xl: 2000px;
$section-gap-top: 100px;