$font-base: ('Source Sans Pro', sans-serif);
$primary-color: #edf2f8;
$secondary-color: #5259a6;
$black-color: #030303;
$lightGray-color: #e4e4e4;
$gray-color: #6b7688;
$brown-color: #46364a;
$white-color: #ffffff;
$break-nav-sm: 900px;
$break-d-xs: 300px;
$break-d-sm: 450px;
$break-d-sm-p-50: 500px;
$break-d-sm-p-60: 600px;
$break-d-lg: 1200px;
$break-d-xl: 2000px;
$default-transition: all 0.3s ease-in-out;