@import '../../constants/styles/prefix';
@import '../../constants/styles/mixin';
@import '../../constants/styles/variable';

.app__footer {
    @include display-flex($flex:1, $display:false, $direction:column);
    width: 100%;

    @include media-break(768px) {
        @include flex-direction(column);
    }

    &-cards {
        width: 60%;
        @include display-flex($justify-content:space-evenly, $align-items:center, $wrap:wrap);
        margin: 4em 2rem 2rem;

        @include media-break(768px) {
            width: 100%;
        }

        .card {
            min-width: 290px;
            @include display-flex($direction:row, $justify-content:flex-start, $align-items:center);
            margin: 1rem 0;
            padding: 1rem;
            @include border-radius(10px);
            cursor: pointer;
            background-color: #fef4f5;
            @include transition($default-transition);

            &:last-child {
                background-color: #f2f7fb;

                &:hover {
                    @include box-shadow(0 0 25px #f2f7fb);
                }
            }

            &:hover {
                @include box-shadow(0 0 25px #fef4f5);
            }

            @include media-break($break-d-sm) {
                width: 100%;
            }

            img {
                @include size(40px);
                margin: 0 0.7rem;
            }

            p {
                font-weight: 500;
            }

            a {
                text-decoration: none;
                font-weight: 500;
            }
        }
    }

    button {
        padding: 1rem 2rem;
        @include border-radius(10px);
        border: none;
        background-color: $secondary-color;
        font-weight: 500;
        color: $white-color;
        outline: none;
        margin: 2rem 0 0 0;
        font-family: $font-base;
        @include transition(cubic-bezier(0.55, 0.085, 0.68, 0.53));
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            background-color: #2430af;
        }
    }

    &-form {
        min-width: 100px;
        @include flex-direction(column);
        margin: 1rem 2rem;
        @include margin-x(auto);

        @include media-break(768px) {
            width: 90%;
            @include margin-x(auto);
        }

        @include media-break($break-d-sm-p-50) {
            width: 100%;
            margin: 1rem 0;
        }

        .head-text {
            margin-bottom: 20px;
        }

        div {
            width: 100%;
            margin: 0.75rem 0;
            @include border-radius(10px);
            cursor: pointer;
            background-color: $primary-color;
            @include transition($default-transition);

            &:hover {
                @include box-shadow(0 0 25px $primary-color);
            }

            label {
                display: none;
            }

            input,
            textarea {
                width: 100%;
                padding: 0.95rem;
                border: none;
                @include border-radius(7px);
                background-color: $primary-color;
                font-family: $font-base;
                color: $secondary-color;
                outline: none;
            }

            textarea {
                height: 170px;
            }
        }
    }
}