@import '../../constants/styles/prefix';
@import '../../constants/styles/mixin';
@import '../../constants/styles/variable';

.app__skills {
  @include display-flex($flex: 1, $display:false, $direction:column);
  width: 100%;

  &-container {
    @include pad-x(2rem);
    @include display-flex($direction: row);
    margin-top: 3rem;
    @include margin-x(auto);

    @include media-break($break-nav-sm) {
      @include pad-x(1rem);
      width: 100%;
      @include flex-direction(column);
    }

    .list {
      @include display-flex($flex: 1 1 500px, $justify-content:center, $align-items:flex-start, $align-content:flex-start, $wrap:wrap);
      margin-right: 5rem;
      max-width: 50%;
      margin-bottom: 2rem;
      @include flex(1 1 500px);

      @include media-break($break-nav-sm) {
        max-width: 100%;
        margin-right: 0;
      }

      .category {
        @include transform(rotate(-90deg));
        // border: 1px dashed #d3d3d3;
        padding: 5px;
        text-transform: uppercase;
        font-size: 0.7rem;
        color: #d3d3d3;
        width: 73px;
        text-align: center;
        margin-top: 2rem;
      }

      &-item {
        @include flex-direction(column);
        text-align: center;
        margin: 1rem;
        @include transition($default-transition);

        @include media-break($break-d-xl, min) {
          margin: 1rem 2rem;
        }

        div {
          @include size(40px);
          @include background-size(contain);
          background-repeat: no-repeat;
          background-position: center center;

          @include media-break($break-d-xl, min) {
            @include size(90px);
          }

          @include media-break($break-d-sm) {
            @include size(50px);
          }

          &:hover {
            @include box-shadow(0 0 25px #fef4f5);
          }
        }

        p {
          font-weight: 500;
          margin-top: 0.5rem;
          color: #aab4c3;

          @include media-break($break-d-xl, min) {
            margin-top: 1rem;
          }

          &.no-icon {
            border: 1px solid #acb6c4;
            @include border-radius(15rem);
            padding: 5px 10px;
            color: #606d7d;
            margin: -5px;
          }
        }
      }

      &-item-end {
        width: 100%;
        margin-top: .8rem;
      }
    }

    .abilities {
      @include flex(1 1 500px);

      div {
        @include box-shadow(0 0 15px rgba(0, 0, 0, 0.2));
        padding: 40px 50px;
        margin-bottom: 2rem;
      }

      h3 {
        font-family: 'Merienda', cursive;
        text-align: left;
        margin: 28px 0 10px 0;
        border-bottom: 1px dashed #e4e4e4;
        padding-bottom: 5px;
        font-size: 17px;
        font-weight: bold;
        color: #211923;

        &:first-of-type {
          margin-top: 0;
        }
      }

      ol {

        li {
          @include display-flex();
          color: #5e6b7b;
          line-height: 30px;

          i {
            color: #80cbc4;
            padding-right: 8px;
            padding-top: 4px;
            line-height: 25px;
          }
        }
      }
    }
  }
}