@import './constants/styles/prefix';
@import './constants/styles/mixin';
@import './constants/styles/variable';

.app {
  background-color: $primary-color;
  font-family: $font-base;

  &__whitebg {
    background-color: $white-color;
  }

  &__primarybg {
    background-color: $primary-color;
  }

  &__container {
    width: 100%;
    min-height: 100vh;
    @include display-flex($flex:1, $placement:center, $direction:row);
    padding: 4rem 2rem;

    @include media-break($break-d-sm) {
      padding: 4rem 1rem 2rem;
    }
  }

  &__flex-center {
    @include flex-center();
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: $black-color;
  text-transform: capitalize;

  span {
    color: $secondary-color;
  }

  @include media-break($break-d-xl, min) {
    font-size: 4rem;
  }

  @include media-break($break-d-sm) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: $gray-color;
  line-height: 1.5;

  @include media-break($break-d-xl, min) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: $black-color;
  text-align: left;

  @include media-break($break-d-xl, min) {
    font-size: 2rem;
  }

  @include media-break($break-d-sm) {
    font-size: 0.9rem;
  }
}